* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#crypto-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.card {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  width: 500px;
  text-align: center;
  background-color: rgb(182, 151, 112);
  transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.expensive {
  border: solid 5px gold;
}
.cheap {
  border: solid 5px silver;
}
